# Determines the timeout used when making debug_TraceTransaction calls to the
# blockchain node. 
#
# The timeout was previously hardcoded to 50s in kliento but was too small to
# trace all transactions.  A value of 120s should safely trace all transactions
# that we have seen so far (Jan 2022).
traceTransactionTimeout: "120s"

monitoring:
  port: 8080
  address: localhost
  requestTimeoutSeconds: 25

celoNodeURI: ws://localhost:8546
profiling: true

redis:
  address: localhost:6379
  password: ""
  db: 5

publisher:
  backfill: 
    enabled: true
    startBlock: 0
    batchSize: 100
    tipBuffer: 10
    sleepIntervalMilliseconds: 100
  chainTip:
    enabled: false

indexer:
  mode: both
  source: backfill
  destination: bigquery
  bigquery:
    projectID: celo-testnet-production
    dataset: rc1_eksportisto_14
    table: test
  dequeueTimeoutMilliseconds: 100
  blockRetryAttempts: 3
  blockRetryDelayMilliseconds: 100
